# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.classpath
.project
prehistoricfauna-1.12.2-0.1.1.jar
lib/llibrary
